<!-- Sección Menú de la Semana -->
<section id="menu" class="menu-section">
  <h2 class="menu-title">Menú de la Semana</h2>

  <!-- Días de la semana -->
  <div class="days-of-week">
    <div class="menu-card">
      <h4>Lunes</h4>
      <!-- Entradas -->
      <div class="menu-category">
        <h5>Entradas</h5>
        <div class="image-slider">
          <button class="arrow-left" onclick="changeImage('lunes-entrada', -1)">&#10094;</button>
          <img id="lunes-entrada-image" src="assets/lunes/Sopadepollocon verduras.jpeg" alt="Entrada Lunes" class="circular-image" />
          <p id="lunes-entrada-name">Sopa de pollo con verduras</p>
          <button class="arrow-right" onclick="changeImage('lunes-entrada', 1)">&#10095;</button>
        </div>
      </div>

      <!-- Segundos -->
      <div class="menu-category">
        <h5>Segundos</h5>
        <div class="image-slider">
          <button class="arrow-left" onclick="changeImage('lunes-segundo', -1)">&#10094;</button>
          <img id="lunes-segundo-image" src="assets/lunes/estofado de pollo.jpeg" alt="Segundo Lunes" class="circular-image" />
          <p id="lunes-segundo-name">Estofado de pollo</p>
          <button class="arrow-right" onclick="changeImage('lunes-segundo', 1)">&#10095;</button>
        </div>
      </div>
      <!-- Botón Pedir -->
      <button class="btn btn-pedir">Pedir</button>
    </div>

    <div class="menu-card">
      <h4>Martes</h4>
      <!-- Entradas -->
      <div class="menu-category">
        <h5>Entradas</h5>
        <div class="image-slider">
          <button class="arrow-left" onclick="changeImage('martes-entrada', -1)">&#10094;</button>
          <img id="martes-entrada-image" src="assets/martes/sopademoron.jpg" alt="Entrada Martes" class="circular-image" />
          <p id="martes-entrada-name">Sopa de morón</p>
          <button class="arrow-right" onclick="changeImage('martes-entrada', 1)">&#10095;</button>
        </div>
      </div>

      <!-- Segundos -->
      <div class="menu-category">
        <h5>Segundos</h5>
        <div class="image-slider">
          <button class="arrow-left" onclick="changeImage('martes-segundo', -1)">&#10094;</button>
          <img id="martes-segundo-image" src="assets/martes/tallarinesrojos.jpeg" alt="Segundo Martes" class="circular-image" />
          <p id="martes-segundo-name">Tallarín rojo con pollo</p>
          <button class="arrow-right" onclick="changeImage('martes-segundo', 1)">&#10095;</button>
        </div>
      </div>
      <!-- Botón Pedir -->
      <button class="btn btn-pedir">Pedir</button>
    </div>

    <div class="menu-card">
      <h4>Miércoles</h4>
      <!-- Entradas -->
      <div class="menu-category">
        <h5>Entradas</h5>
        <div class="image-slider">
          <button class="arrow-left" onclick="changeImage('miercoles-entrada', -1)">&#10094;</button>
          <img id="miercoles-entrada-image" src="assets/miercoles/sopadepollo.jpeg" alt="Entrada Miércoles" class="circular-image" />
          <p id="miercoles-entrada-name">Sopa de pollo</p>
          <button class="arrow-right" onclick="changeImage('miercoles-entrada', 1)">&#10095;</button>
        </div>
      </div>

      <!-- Segundos -->
      <div class="menu-category">
        <h5>Segundos</h5>
        <div class="image-slider">
          <button class="arrow-left" onclick="changeImage('miercoles-segundo', -1)">&#10094;</button>
          <img id="miercoles-segundo-image" src="assets/miercoles/secodepollo.jpg" alt="Segundo Miércoles" class="circular-image" />
          <p id="miercoles-segundo-name">Seco de pollo con yucas</p>
          <button class="arrow-right" onclick="changeImage('miercoles-segundo', 1)">&#10095;</button>
        </div>
      </div>
      <!-- Botón Pedir -->
      <button class="btn btn-pedir">Pedir</button>
    </div>

    <div class="menu-card">
      <h4>Jueves</h4>
      <!-- Entradas -->
      <div class="menu-category">
        <h5>Entradas</h5>
        <div class="image-slider">
          <button class="arrow-left" onclick="changeImage('jueves-entrada', -1)">&#10094;</button>
          <img id="jueves-entrada-image" src="assets/jueves/aguadito.jpg" alt="Entrada Jueves" class="circular-image" />
          <p id="jueves-entrada-name">Aguadito</p>
          <button class="arrow-right" onclick="changeImage('jueves-entrada', 1)">&#10095;</button>
        </div>
      </div>

      <!-- Segundos -->
      <div class="menu-category">
        <h5>Segundos</h5>
        <div class="image-slider">
          <button class="arrow-left" onclick="changeImage('jueves-segundo', -1)">&#10094;</button>
          <img id="jueves-segundo-image" src="assets/jueves/ajidegallina.jpg" alt="Segundo Jueves" class="circular-image" />
          <p id="jueves-segundo-name">Ají de gallina</p>
          <button class="arrow-right" onclick="changeImage('jueves-segundo', 1)">&#10095;</button>
        </div>
      </div>
      <!-- Botón Pedir -->
      <button class="btn btn-pedir">Pedir</button>
    </div>

    <div class="menu-card">
      <h4>Viernes</h4>
      <!-- Entradas -->
      <div class="menu-category">
        <h5>Entradas</h5>
        <div class="image-slider">
          <button class="arrow-left" onclick="changeImage('viernes-entrada', -1)">&#10094;</button>
          <img id="viernes-entrada-image" src="assets/viernes/sopadecabellodeangel.jpg" alt="Entrada Viernes" class="circular-image" />
          <p id="viernes-entrada-name">Sopa de cabello de ángel</p>
          <button class="arrow-right" onclick="changeImage('viernes-entrada', 1)">&#10095;</button>
        </div>
      </div>

      <!-- Segundos -->
      <div class="menu-category">
        <h5>Segundos</h5>
        <div class="image-slider">
          <button class="arrow-left" onclick="changeImage('viernes-segundo', -1)">&#10094;</button>
          <img id="viernes-segundo-image" src="assets/viernes/pureconmilanesa.jpeg" alt="Segundo Viernes" class="circular-image" />
          <p id="viernes-segundo-name">Purée con milanesa</p>
          <button class="arrow-right" onclick="changeImage('viernes-segundo', 1)">&#10095;</button>
        </div>
      </div>
      <!-- Botón Pedir -->
      <button class="btn btn-pedir">Pedir</button>
    </div>
  </div>
</section>
